.nav{
    background-color: var(--primary);
}

.nav-container{
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    width: 100%;
    max-width: 1336px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    background-color: var(--primary);
}

.logo{
    width: 150px;
}

.nav-menu{
    grid-column-gap: 22px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 170%;
}

.nav-link{
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 100%;
    text-decoration: none;
}

.admin-panel {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1336px;
    padding: 0px 20px 0px 20px; 
}

.bg-dashboard{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1336px;
    padding: 50px 20px 0px 20px;     
    position: relative;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.shadow {
    box-shadow: 0 0 3px #3c485826 !important;
}

.rounded {
    --bs-border-radius: .575rem !important;
    border-radius: var(--bs-border-radius) !important;
}

.card {
    word-wrap:  break-word;
    background-clip: initial;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--primary);
    border-top-right-radius: var(--bs-border-radius);
    border-top-left-radius: var(--bs-border-radius);
  }

.img-profile-bg{
    max-height: 100%;
    max-width: 90%;
    border-top-right-radius: var(--bs-border-radius) ;
    border-top-left-radius: var(--bs-border-radius);
}

.avatar{
    margin: 0px 0;
    position: relative;
    text-align: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e9ecef !important;
}

.avatar img{
    height: 80px;
    width: 80px;
    margin: -30px;
    border-radius: 50%;
    box-shadow: 0 5px 13px #3c485833
}

.avatar h5{
    margin-bottom: 0.25rem;
    margin-top:  3rem;
    font-size: 1.125rem;
}

.list-db{
    list-style: none;
    padding: 15px 0;
    margin: 0 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
}

.item-db{
    /* font-size: 15px;
    font-weight: 500; */
    padding: 6.5px 15px;
    margin-bottom: 0.5rem;
}

.item-link-db{
    color: #212529;
    text-decoration: none;
}

.item-icon{
    vertical-align: middle;
    box-sizing: border-box;
    color: #212529;
    margin-right: 6px;
}

@media (min-width: 768px) {
    .col1 {
      flex: 0 0 auto;
      width: 41.666666667%;
    }
  }

@media (min-width: 992px) {
    .col1 {
      flex: 0 0 auto;
      width: 30%;
    }
  }

.col2-1{
    position: relative;
    padding-top: 0 !important;
    margin-top: 0 !important;
    flex: 0 0 auto;
    width: 70%;
    max-width: 100%;
    padding-left: calc(1.5rem*.5);
    padding-right: calc(1.5rem*.5);
}

.col2-header{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}

.col2-header-text{
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
    flex: 0 0 auto;
    width: 40%;
    position: relative;
}

.col2-header-text h5{
    font-size: 1.125rem;
    font-weight: 600 !important;
    line-height: 1.5 !important;
}

.col2-header-form{
    flex: 0 0 auto;
    width: 60%;
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
}

.col2-header-form-2{
    justify-content: flex-end !important;
}

.col2-header-form-select-1{
    align-items: center !important;
    justify-content: space-between !important;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}

.col2-header-form-select-2{
    flex: 0 0 auto;
    width: 45%;
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
}

.col2-header-form-select-3{
    margin-bottom: 0 !important;
    position: relative !important;
}

.col2-header-form-select-4{
    width: 100%;
    background-color: var(--bg);
    padding: .375rem 0.25rem;
    border: 1px solid #ced4da;
    border-radius: .375rem;
}

.react-datepicker-popper {
    z-index: 9999 !important;
}

.col2-header-button-1{
    position: relative;
    flex: 0 0 auto;
    width: 50.33333333%;
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
}

.col2-header-button-2{
    display: grid !important;
}

.col2-header-button-a{
    border-radius: 5px;
  font-size: 15px;
  letter-spacing: .5px;
  outline: none;
  padding: 8px 20px;
  text-decoration: none;
  transition: all .3s;
  --bs-btn-color: #fff;
  --bs-btn-bg: #396cf0;
  --bs-btn-border-color: #396cf0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #305ccc;
  --bs-btn-hover-border-color: #2e56c0;
  --bs-btn-focus-shadow-rgb: 87,130,242;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2e56c0;
  --bs-btn-active-border-color: #2b51b4;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #396cf0;
  --bs-btn-disabled-border-color: #396cf0;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 0.9375rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #fff;
  --bs-btn-bg: #0000;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: #0000;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: #0000;
  --bs-btn-box-shadow: inset 0 1px 0 #ffffff26,0 1px 1px rgba(0,0,0,.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb),.5);
  background-color: var(--primary);
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  color: var(--bs-btn-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  text-align: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  text-decoration: none !important;
}

.table-container-1{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}

.table-container-2{
    margin-top: 1.5rem !important;
    flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x)*.5);
  padding-right: calc(var(--bs-gutter-x)*.5);
}

.table-container-3{
    box-shadow: 0 0 3px #3c485826 !important;
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 600px;
    width: 100%;
    border-radius: 0.375rem !important;
}

.table{
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: #fff;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: #0000;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: #0000000d;
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: #0000001a;
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0,0,0,.075);
    border-color: var(--bs-table-border-color);
    margin-bottom: 1rem;
    vertical-align: top;
    width: 100%;
    border-collapse: collapse;
  caption-side: bottom;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: #fcf5f0; /* ensure visibility */
    z-index: 2;
}

.table-head-th{
    min-width: 50px;
    vertical-align: middle !important;
    /* background-color: var(--bs-table-bg); */
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state,var(--bs-table-bg-type,var(--bs-table-accent-bg)));
    color: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));
    padding: 1rem !important;
    border-bottom: 1px solid #e9ecef !important;
    text-align: inherit;
    caption-side: bottom;
}

.table-body-td{
    vertical-align: middle !important;
    border-bottom-width: 1px;
    padding: 1rem !important;
    text-align: inherit;
    caption-side: bottom;
}
