.menucategory{
    margin-bottom: var(--desktop-margin);
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.menu-block{
    position: relative;
    overflow: hidden;
    filter: grayscale(100%);
}

.menu-block img{
    width: 100%;
    max-height: 600px;
    min-height: 600px;
    object-fit: cover;
}

.menu-block:hover{
    filter: grayscale(0%);
}

.menu-overlay{
    position: absolute;
    inset: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 28px;
    line-height: 150%;
    font-weight: 600;
}

@media screen and (max-width: 991px) {
    .menucategory{
        margin-bottom: var(--mobile-margin);
    }
    .menu-block{
        max-height: 320px;
    }
    .menu-block img{
        max-height: 320px;
        min-height: 320px;
    }
    .menu-overlay{
        font-size: 20px;
    }
}

@media screen and (max-width: 769px) {
    .menucategory{
        grid-template-columns: 1fr 1fr; 
    }
    .menu-block{
        max-height: 450px;
    }
    .menu-block img{
        max-height: 450px;
        min-height: 450px;
    }
    .menu-overlay{
        font-size: 20px;
    }
}

@media screen and (max-width: 479px) {
    .menu-block{
        max-height: 260px;
    }

    .menu-block img{
        max-height: 260px;
        min-height: 260px;
    }
    .menu-overlay{
        font-size: 18px;
    }
}