.about{
    margin-bottom: var(--desktop-margin);
}

.about-container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1336px;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    grid-column-gap: 80px;    
}

.about-data{
    display: flex;
    width: 100%;
    max-width: 32%;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 60px;
}

.about-data-top p{
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    text-transform: uppercase;
}

.about-data-top h2{
    font-size: 32px;
    line-height: 150%;
    font-weight: 400;
}

.about-data-bottom {
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    row-gap: 30px;
}

.about-data-bottom p{
    font-size: 16px;
    line-height: 170%;
}

.about-img-container{
    display: flex;
    width: 100%;
    max-width: 68%;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 30px;
}

.about-img-container .biryani-img, .chicken-img{
    width: 100%;
    max-width: 50%;
    position: relative;
}

.about-img-container .biryani-img img{
    width: 100%;
    max-height: 395px;
    min-height: 395px;
    object-fit: cover;
}

.about-img-container .chicken-img img{
    width: 100%;
    max-height: 500px;
    min-height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 991px) {
    .about{
        margin-bottom: var(--mobile-margin);
    }
    
    .about-container{
        flex-flow: column;
        gap: 50px 0px;
    }

    .about-data{
        max-width: 100%;
        row-gap: 20px;
    }

    .about-img-container{
        max-width: 100%;
        column-gap: 20px;
    }
    .about-img-container .biryani-img img{
        max-height: 330px;
        min-height: 330px;
    }
    .about-img-container .chicken-img img{
        max-height: 430px;
        min-height: 430px;
    }
}

@media screen and (max-width: 769px) {
    .about-img-container .biryani-img img{
        max-height: 260px;
        min-height: 260px;
    }
    .about-img-container .chicken-img img{
        max-height: 360px;
        min-height: 360px;
    }
}


@media screen and (max-width: 479px) {
    .about-img-container .biryani-img img{
        max-height: 200px;
        min-height: 200px;
    }
    .about-img-container .chicken-img img{
        max-height: 260px;
        min-height: 260px;
    }
}

.overlay-box-biryani, .overlay-box-chicken{
    width: 101%;
    height: 100%;
    background-color: var(--bg);
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(1);
    opacity: 1;
    overflow: auto;
}

.overlay-box-biryani {
    transform-origin: top;
}

.overlay-box-chicken {
    transform-origin: bottom;
}

.collapse-height-animation {
    animation: collapseHeight 0.6s ease-in-out; 
    transform: scaleY(0);
}

@keyframes collapseHeight {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}
