.navbar{
    background-color: var(--primary);
}

.navbar-container{
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 1336px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    background-color: var(--primary);
}

.logo{
    width: 150px;
}

.navbar-menu{
    grid-column-gap: 22px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 170%;
}

.navlink{
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 100%;
    text-decoration: none;
}

.navlink.set{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 30px;    
}

.navlink.set:hover{
    background-color: white;
    color: black;
}

.toggle-button {
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


@media screen and (max-width: 991px) {
    .navbar-menu{
        position: absolute;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: -200px;
        left: 0;
        border-bottom: 1px solid #ffffff1a;
        background-color: var(--primary);
        z-index: 1;
    }
    .toggle-button {
        display: block;
    }

    .navbar-menu a {
        text-align: center;
        padding: 12px 0;
        width: 100%;
    }
    
    .navbar-menu.show {
        top: 72.533px;
        z-index: 10;
    }

}

@keyframes moveUp {
    0% {
        top: 72.533px; 
        z-index: 10; 
    }
    10% {
        z-index: 0;
    }
    100% {
        top: -100px; 
        z-index: 0;
    }
}

@keyframes moveDown {
    0% {
        top: -200px; 
        z-index: 10; 
    }
    1% {
        z-index: 0;
    }
    100% {
        top: 72.533px; 
        z-index: 0;
    }
}


@media screen and (max-width: 769px) {
    .logo{
        width: 120px;
    }
}