.reservation{
    margin-bottom: var(--desktop-margin);
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/spices.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}

.reservation-container{
    width: 100%;
    max-width: 1336px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: 40px;
}

.reservation-text{
    width: 100%;
    max-width: 52%;
}

.reservation-text h1{
    margin-bottom: 15px;
    color: white;
    font-size: 38px;
    line-height: 150%;
    font-weight: 400;
}

.reservation-text p{
    color: white;
}

.reservation-form{
    width: 100%;
    max-width: 48%;
    padding: 50px;
    background-color: var(--bg);
}

.reservation-form-container .reservation_input, textarea{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    background-color: var(--bg);
}

.reservation_input:focus{
    border: 2px solid var(--primary);
    outline: none;
}

.reservation-form-container .multi-fields{
    display: flex;
    gap: 10px;
}

.reservation-form-request{
    grid-area: span 1 / span 1 / span 1 / span 5;
}

.scrollable-select:focus{
    height: auto;
    overflow-y: auto;
    max-height: 10px;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    /* width: 150px; */
  }
  
  .dropdown-button {
    width: 100%;
    text-align: left;
    cursor: pointer;
    border: none;
    background-color: var(--bg);
  }
  
  .dropdown-list {
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
    max-height: 120px; /* Limit dropdown height */
    overflow-y: auto; /* Enable scroll */
    background-color: var(--bg);
    border: 1px solid #c5c5c5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1;
  }
  
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: var(--primary);
    color: white;
  }


.reservation-form-container .reserve_button{
    margin-top: 20px;
    padding: 10px 22px;
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    font-weight: 400;
    line-height: 120%;
    font-size: 14px;
    border-radius: 30px;
    float: right;
    cursor: pointer;
}

.reserve_button:hover{
    background-color: var(--primary);
    color: white;
    border-color: var(--primary);
}

@media screen and (max-width: 991px) {
    .reservation{
        margin-bottom: var(--mobile-margin);
    }

    .reservation-container{
        flex-flow: column;
        row-gap: 50px;
    }

    .reservation-text, .reservation-form{
        max-width: 100%;
    }

    .reservation-text h1{
        font-size: 30px;
    }
}


@media screen and (max-width: 479px) {
    .reservation-container{
        row-gap: 30px;
    }

    .reservation-text h1{
        font-size: 24px;
    }
}
